.header_navbar {
    background: #004aab;
}

.story-intro_img>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 0 25px 0 25px;
}
.story-intro_content>div{
    display: flex;
}

.story-intro_content-after{
    width: 4px;
    height: 80px;
    background-color: #004aab;
    margin-right: 10px;
}

.story-intro_content-title h1{
    font-size: 46px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #004aab;
}
.story-intro_content-title h4{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #228582;
}

.story-intro_content>p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
    text-align: justify;
    width: 100%;
    margin-top: 15px;
}

.progress-img>img{
    aspect-ratio: 6/3;
    object-fit: cover;
    object-position: center;
    width: 100%;
}


/* story body */ 
.story-body_main{
    width: 100%;
    height: max-content;
    min-height: 300px;
    overflow: hidden;
    background-color: #cfe8e7;
    display: none;
}
.story-body_main>p{
    padding: 40px;
    font-size: 16px;
    color: #004aab;
    font-family: 'Roboto';
    font-weight: 500;
}

.on{
    display: block;
}

.story-body_title ul{
    display: flex;
    justify-content: space-between;
    padding: 0 -20px;
    flex-direction: row-reverse;
}

.story-body_list{
    flex: 1;
    text-align: center;
    background-color: #2e2f33;
    padding: 15px 0;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
}
.story-body_list>img{
    width: 50px;
    height: 50px;
}
.story-body_list>h1{
    color: white;
    font-size: 20px;
}
.story-body_list:nth-child(1){
    margin-left: -20px;
}
.story-body_list:nth-child(2),.story-body_list:nth-child(3){
    margin: 0 -20px;
}
.story-body_list:nth-child(4){
    margin-right: -20px;
}

.story-body_list.on{
    background-color: #cfe8e7;
    z-index: 9;
}
.story-body_list.on>h1{
    color: #004aab;
}


/* new paper */ 

.newspapers-box>div{
    border-radius: 8px;
    border: 0.5px solid #228582;
    overflow: hidden;
}

.newspapers-box>div>img{
    aspect-ratio: 4/2;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.newspapers-content{
    min-height: 150px;
    max-height: 150px;
    background-color: #e2eef0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.newspapers-content>h1{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
    font-weight: 600;
    color: #004aab;
    overflow: hidden;
}
.newspapers-content>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newspapers-content>div>img{
    width: 30%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/1;

}

.newspapers-content>div>p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(53, 53, 53);
}
/* slick */ 
.slick-dots{
    display: flex;
    justify-content: space-around;
    z-index: 999;
    position: relative;
    margin: -42px;
}

.slick-dots>li>button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid #228582;
    background-color: #004aab;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.166);
}
.slick-dots>li{
    position: relative;
}
.slick-dots>li::after{
    content: '2018';
    position: absolute;
    top: 35px;
    color: blue;
    font-size: 14px;
    left: -6px;
    font-weight: 600;
    font-family: 'Roboto';
    transition: all 0.3s ease-in-out;
}

.slick-dots>.slick-active>button{
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid #228582;
    background-image: url(https://hcmuni.fpt.edu.vn/Data/Sites/1/media/z2021/ceodinhminhquyen/dhfptwworkshopkhoinghiep5.jpg);
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.166);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*
.slick-dots>.slick-active::after{
    content: '2018';
    position: absolute;
    top: 70px;
    color: blue;
    font-size: 14px;
    left: 5px;
    font-weight: 600;
    font-family: 'Roboto';
}
*/
.slick-dots>.slick-active::after{
    content: '2018';
    text-align: left;
    position: absolute;
    top: 70px;
    color: blue;
    font-size: 14px;
    left: 8px;
    font-weight: 600;
    font-family: 'Roboto';
    transition: all 0.3s ease-in-out;
}

/* */
.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before:before{
    background-image: url(../images/Asset\ 2.png);
    left: -1px;
    top: -1px;
}
.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before::after{
    background-image: url(../images/Asset\ 4.png);
    bottom: -1px;
}
.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before .ocupy-seat:before{
    background-color: white;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-after:before{
    background-image: url(../images/Asset\ 4.png);
    transform: rotate(180deg);
    right: -1px;
    top: -1px;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before .ocupy-seat:after{
    background-color: white;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-after:after{
    background-image: url(../images/Asset\ 2.png);
    transform: rotate(180deg);
    right: -1px;
    bottom:-1px;
}

.ggggg>svg{
display: none;
}

.video-pagination.active p{
    font-size: 26px;
    color: #004aab !important;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.ggggg{
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}