.story-intro_img>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 0 25px 0 25px;
}

.story-intro_content>div {
    display: flex;
}

.story-intro_content-after {
    width: 4px;
    background-color: #004aab;
    margin-right: 10px;
}

.story-intro_content-title h1 {
    font-size: 46px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #004aab;
}

.story-intro_content-title h4 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #228582;
}

.story-intro_content>p {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
    text-align: justify;
    width: 100%;
    margin-top: 15px;
}

@media (max-width: 550px) {
    .story-intro_content-title h4 {
        font-size: calc(8px + 3vw);
    }

    .story-intro_content>p {
        font-size: 12px;
    }
}



.progress-img>img {
    aspect-ratio: 6/3;
    object-fit: cover;
    object-position: center;
    width: 100%;
}


/* story body */
.story-body_main {
    width: 100%;
    height: max-content;
    min-height: 300px;
    overflow: hidden;
    background-color: #cfe8e7;
    display: none;
}

.story-body_main>p {
    padding: 40px;
    font-size: 16px;
    color: #004aab;
    font-family: 'Roboto';
    font-weight: 500;
}

.on {
    display: block;
}

.story-body_title ul {
    display: flex;
    justify-content: space-between;
    padding: 0 -20px;
    flex-direction: row-reverse;
}

.story-body_list {
    flex: 1;
    text-align: center;
    background-color: #2e2f33;
    padding: 15px 0;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 8;
}

.story-body_list>img {
    width: 50px;
    height: 50px;
}

.story-body_list>h1 {
    color: white;
    font-size: 20px;
}

.story-body_list:nth-child(1) {
    margin-left: -20px;
}

.story-body_list:nth-child(2),
.story-body_list:nth-child(3) {
    margin: 0 -20px;
}

.story-body_list:nth-child(4) {
    margin-right: -20px;
}

.story-body_list.on {
    background-color: #cfe8e7;
    z-index: 9;
}

.story-body_list.on>h1 {
    color: #004aab;
}


/* new paper */
.slick-list {
    padding: 20px 0;
}

.newspapers-box>div {
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(60, 60, 60, 0.5);
    overflow: hidden;
}

.newspapers-box>div>img {
    aspect-ratio: 4/2;
    object-fit: cover;
    object-position: center;
    width: 100%;
    filter: brightness(95%);
}

.newspapers-content {
    min-height: 120px;
    max-height: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.newspapers-content>a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: Regular 400;
    color: black;
}

.newspapers-content>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newspapers-content>div>img {
    width: 30%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/1;

}

.newspapers-content>div>p {
    font-size: 14px;
    font-weight: 300;
}

/* slick */
#story-bottom .slick-dots {
    display: flex;
    justify-content: space-around;
    z-index: 999;
    position: relative;
    margin: 0;
}

#story-bottom .slick-dots>li>button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.166);
    margin: 0 5px;
}

#story-bottom .slick-dots>.slick-active>button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: rgb(144, 144, 144);
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.166);
    margin: 0 5px;
}


/* */
.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before:before {
    background-image: url(../images/Asset\ 2.png);
    left: -1px;
    top: -1px;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before::after {
    background-image: url(../images/Asset\ 4.png);
    bottom: -1px;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before .ocupy-seat:before {
    background-color: white;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-after:before {
    background-image: url(../images/Asset\ 4.png);
    transform: rotate(180deg);
    right: -1px;
    top: -1px;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-before .ocupy-seat:after {
    background-color: white;
}

.video-section .video-list-wrapper .video-item-wrapper .video-item-mask-after:after {
    background-image: url(../images/Asset\ 2.png);
    transform: rotate(180deg);
    right: -1px;
    bottom: -1px;
}

.ggggg>svg {
    display: none;
}

.video-pagination.active p {
    font-size: 26px;
    color: #004aab !important;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.ggggg {
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* cmt */
.cmt-items {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 50%;
    height: max-content;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(40% - 165px);
    box-shadow: 0px 0px 1px rgba(45, 55, 72, 0.05), 0px 4px 8px rgba(45, 55, 72, 0.1);
    top: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.item-img {
    background-color: #0048ab;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.item-img>img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}

.item-img>h1 {
    font-size: 46px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    margin-left: 10px;
}

.item-content>h1 {
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #0048ab;
}

.item-content>h4 {
    font-size: 14px;
    text-align: center;
    ;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
}

.item-content>p {
    font-size: 14px;
    text-align: justify;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    width: 90%;
    margin: 10px auto 30px auto;
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: #0048ab;
    background-color: transparent;
    border: none;
    font-size: 60px;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    transition: all 0.3s ease-in-out;
}

#next:hover,
#prev:hover {
    transform: scale(1.2);
}

#next {
    left: unset;
    right: 50px;
}

/* history */
.history-content {
    width: 98%;
    margin: 40px auto;
    display: none;
    padding: 20px 40px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(60, 60, 60, 0.5);
}

.history-content>p {
    color: var(--color-text);
    font-size: 18px;
    text-align: justify;
    opacity: 0;
    animation: history 0.7s ease-in-out forwards;
}

.history-content>h1 {
    color: var(--color-text);
    font-size: 26px;
    font-family: 'Roboto';
    margin: 10px 0;
    text-align: justify;
    opacity: 0;
    animation: history 0.5s ease-in-out forwards;
}

.history-content.active {
    display: block;
}

@keyframes history {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px) {
    .story-intro_content-title h1 {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .cmt-wrap {
        max-width: unset;
        width: 100%;
    }

    .story-intro_content {
        margin-top: 50px;
    }
}

@media (max-width: 892px) {
    .item {
        width: 60%;
    }
}

@media (max-width: 892px) {
    .item {
        width: 70%;
        left: 15%;
    }
}

@media (max-width: 592px) {
    .item {
        width: 80%;
        left: 10%;
    }

    #next {
        right: 0;
    }

    #prev {
        left: 0;
    }

    .history-content>h1 {
        font-size: calc(16px + 2vw);
    }

    .history-content>p {
        font-size: calc(8px + 2vw);
    }
}

@media (max-width: 452px) {
    .item-img>img {
        width: 30px;
        height: 30px;
    }

    .item-img>h1 {
        font-size: 26px;
    }

    .item-img {
        height: 70px;
    }

    .item-content>h1 {
        font-size: 20px;
    }

    .item-content>p {
        font-size: 13px;
        font-weight: 300;
    }

    .story-intro_content-title h1 {
        font-size: 28px;
    }

}


.story-bottom {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 80px 0;
    background-image: url(../images/background-story.png);
}

.story-bottom_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.story-bottom-start {
    display: flex;
    align-items: center;
}

.story-bottom-start>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 5px;
}

.story-bottom-start>h1 {
    color: white;
    font-size: 46px;
    text-align: center;
    font-weight: 600;
    margin-left: 5px;
}

.story-bottom-end>i {
    color: white;
    font-size: 26px;
    margin-left: 5px;
}

.story-bottom-end>p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-right: 5px;
}


.story-bottom_main>p {
    width: 70%;
    margin: 20px auto;
    font-size: 16px;
    color: rgb(234, 234, 234);
    font-weight: 300;
    text-align: justify;
}

.story-bottom_main>i {
    color: white;
    font-size: 24px;
}

.story-bottom-end {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 982px) {
    .story-bottom_main>p {
        width: 100%;
    }
}

@media (max-width: 782px) {
    .story-bottom_main>.story-bottom-end {
        justify-content: end !important;
    }
}

@media (max-width: 600px) {
    .story-bottom_main {
        width: 90%;
        margin: 0 auto;
    }

    .story-bottom-start>h1 {
        font-size: 42px;
    }
}

@media (max-width: 400px) {
    .story-bottom_main {
        width: 90%;
        margin: 0 auto;
    }

    .story-bottom-start>h1 {
        font-size: 34px;
    }

    .story-bottom_main>p {
        font-size: 12px;
    }
}


.story-intro-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* CLB B304 */
.b304 {
    border-radius: 8px;
    display: flex;
    width: 94%;
    margin: auto;
    background-color: var(--background-color);
}

/* */
.slide {
    position: relative;
    width: 100%;
    height: 696px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
}

.story-intro-wrap .items {
    display: inline-block;
    transition: 0.5s;
    z-index: 0;
    position: absolute;
}

.blue {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0047aba8;
    z-index: 3;
    top: 0;
}

.story-intro-wrap .imgs {
    display: inline-block;
    background-size: cover;
    transition: 0.5s;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    position: relative;
}



.story-intro-wrap .items:nth-child(1),
.story-intro-wrap .items:nth-child(2) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.story-intro-wrap .items:nth-child(3) {
    top: 45%;
    right: 15%;
    width: 20%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
    filter: unset;
}

.story-intro-wrap .items:nth-child(4) {
    top: 45%;
    right: -25%;
    width: 25%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
    filter: unset;
}


.story-intro-wrap .items:nth-child(3)>.imgs,
.story-intro-wrap .items:nth-child(4)>.imgs {
    filter: unset;
}


.story-intro-wrap .items:nth-child(3)>.blue,
.story-intro-wrap .items:nth-child(4)>.blue {
    background-color: unset;
}

.story-intro_contents {
    display: none;
}
.story-intro-wrap .items .imgs>p{
    display: none;
}
.story-intro-wrap .items:nth-child(3) .imgs>p {
    position: absolute;
    top: calc(100% + 20px);
    z-index: 99;
    text-align: center;
    color: white;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}


.story-intro-wrap .items:nth-child(2) .story-intro_contents {
    display: block;
    position: absolute;
    top: 47%;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -50%);
}

.story-intro_contents h3 {
    opacity: 0;
    animation: showcontent 1s 0.2s ease forwards;
    font-family: 'Roboto', serif;
    color: white;
    font-size: calc(14px + 0.5vw);
    text-shadow: 0 2px 2px rgb(0, 0, 0);
}

.story-intro_contents h1 {
    opacity: 0;
    animation: showcontent 1s 0.2s ease forwards;
    font-family: 'Roboto', serif;
    color: white;
    margin: 10px 0;
    font-size: calc(34px + 0.5vw);
    text-shadow: 0 2px 2px rgb(0, 0, 0);
}

.story-intro_contents p {
    opacity: 0;
    animation: showcontent 1s 0.2s ease forwards;
    font-family: 'Roboto', serif;
    color: white;
    font-size: calc(12px + 0.5vw);
    text-shadow: 0 2px 2px rgb(0, 0, 0);
    width: 50%;
    text-align: justify;
    margin-top: 30px;
}


@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 30px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.button {
    position: absolute;
    width: 24%;
    z-index: 4;
    right: 13%;
    top: 59%;
}

.button i {
    color: rgba(255, 255, 255, 0.5);
    font-size: calc(34px + 1vw);
    text-shadow: 0 1px 1px;
    position: relative;
}

#nextr,
#back {
    width: 100%;
}

.button #back::before {
    position: absolute;
    top: -33px;
    left: -36px;
}

.button #nextr::before {
    position: absolute;
    top: -54px;
    right: -36px;
}

@media (max-width: 2000px) and (min-width: 1600px) {
    .button {
        position: absolute;
        width: 22%;
        z-index: 4;
        right: 19%;
        top: 58%;
    }

    .story-intro-wrap .items:nth-child(2) .story-intro_contents {
        top: 44%;
    }
}

@media (max-width: 982px) {
    .story-intro-wrap .items:nth-child(2) .story-intro_contents {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .story-intro_contents p {
        width: 100%;
    }

    .story-intro-wrap .items:nth-child(3) {
        top: 60%;
        left: 50%;
        width: 40%;
    }

    .story-intro-wrap .items:nth-child(4) {
        top: 60%;
        left: 100%;
    }

    .button {
        right: 58%;
        top: 66%;
    }
}


@media (max-width: 982px) {
    .story-intro_contents h1 {
        font-size: 28px;
    }

    .story-intro_contents p {
        font-size: 18px;
    }

    .story-intro-wrap .items:nth-child(3) {
        top: 80%;
        left: 50%;
        width: 40%;
        transform: translate(-50%, -50%);
        height: 160px;
    }

    .button {
        top: 66%;
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button #back::before {
        left: 0;
        top: 88px;
    }

    .button #nextr::before {
        right: 0;
        top: 65px;
        left: unset;
    }
}

@media (max-width: 692px) {
    .slide {
        height: 778px;
    }
    .story-intro-wrap .items:nth-child(2) .story-intro_contents {
        top: 42%;
    }
    .story-intro_contents h1 {
        font-size: 24px;
    }
    .story-intro-wrap .items:nth-child(3) .imgs>p{
        font-size: 16px;
    }
    .story-intro-wrap .items:nth-child(3){
        width: 70%;
    }
}