.header_navbar {
    background: #004aab;
}

body {
    position: relative;
}

/* ------*/
/* tempo */
/*-------*/
#tempo::before{
    content: '';
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 64px;
    background-color: #fff;
    -webkit-mask-image: url(../images/arrow-down.svg);
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/arrow-down.svg);
    mask-repeat: no-repeat;
    bottom: -64px;
}

#tempo{
    position: relative;
}
.tempo-title {
    margin: 10px 0;
}

.tempo-title>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: #f5f5f5;
    padding: 15px 10px;
}

.tempo-title>div>div>h1 {
    font-size: 34px;
    font-family: 'Roboto';
    font-weight: 300;
}

.tempo-title>div>div>p {
    font-size: 24px;
    font-family: 'Roboto';
    color: var(--color-text);
    font-weight: 300;
    margin: 10px 0;
}


.tempo-2-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 80px 0;
}

.tempo-contribute>h1 {
    font-size: 46px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
}

.tempo-contribute>h4 {
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.tempo-contribute>.p {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
}

.tempo-contribute>.p>p {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}

.tempo-contribute>.p>span {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}

.tempo-progress_wrap {
    position: relative;
    width: 100%;
    height: 21px;
    background-color: #cfe8e7;
    border-radius: 8px;
    border: 1px solid white;
}

.tempo-progress {
    position: absolute;
    height: 20px;
    background-color: #228582;
    border-radius: 8px;
}

.tempo-button {
    margin: 20px 0;
}

.tempo-button>a {
    padding: 8px 16px;
    background-color: white;
    color: var(--color-bg-mx) !important;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 2px rgba(60, 60, 60, 0.5);
}

.tempo-button>a:hover {
    transform: translateX(4px);
    cursor: pointer;
}

.tempo-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempo-video i {
    transition: all 0.2s ease-in-out;
}

.tempo-video i:hover {
    font-size: 70px !important;
}

#tempo .slick-dots>li>button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: unset;
    margin: 0 10px;
    background-color: var(--color-bg-mn);
}

#tempo .slick-dots>.slick-active>button {
    background-color: var(--color-bg-mx);
}

#tempo .slick-dots {
    display: flex !important;
}

#tempo .tempo-slick-wrap {
    justify-content: center;
}

@media (max-width: 1300px) {
    .tempo-title>div>div>p {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .tempo-title>div>div {
        margin: 10px 0;
    }

    .tempo-video {
        margin-top: 20px;
    }
}

/* -------------*/
/* tempo- slick */
/* -------------*/

/* top & card wrap */
.tempo-slick-card {
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

.tempo-slick-top {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: start;
    background-color: var(--color-text);
    padding: 20px;
}

.tempo-slick-top>img {
    width: 50px;
    height: 50px;
}

.tempo-slick-top>h1 {
    color: white;
    font-size: 34px;
    font-family: 'Roboto';
    margin-top: 5px;
    margin-left: 10px;
}

/* absolute */
.tempo-slick-absolute {
    position: absolute;
    padding: 10px;
    top: 80px;
    width: 90%;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    left: 5%;
}

.tempo-slick-absolute>.title {
    display: flex;
    justify-content: space-between;
}

.tempo-slick-absolute>.title>h4 {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 600;
}

.tempo-slick-absolute>.title>p {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 300;
}

.tempo-slick-absolute>.tempo {
    width: 100%;
    height: 10px;
    background-color: var(--color-bg-mn);
    border-radius: 16px;
}

.tempo-slick-absolute>.tempo>div {
    height: 10px;
    background-color: var(--color-bg-mx);
    border-radius: 16px;
}

.tempo-slick-absolute>.time {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tempo-slick-absolute>.time>i {
    font-size: 14px;
}

.tempo-slick-absolute>.time>p {
    font-size: 13px;
    margin-left: 10px;
}

/* bottom */
.tempo-slick-bottom {
    padding: 60px 10px 10px 10px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tempo-slick-bottom>ul {
    list-style: unset;
    margin-left: 20px;
}

.tempo-slick-bottom>ul>li {
    color: var(--color-text);
    font-size: 14px;
}

.tempo-slick-bottom>.button {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    align-items: center;
}

.tempo-slick-bottom>.button>a {
    outline: none;
    border: none;
    color: white;
    background-color: var(--color-text);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto';
    display: block;
    transition: all 0.3s ease;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 8px 15px;
}

.tempo-slick-bottom>.button>a:hover {
    cursor: pointer;
    background-color: white;
    color: var(--color-text) !important;
    transform: scale(1.02);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.tempo-slick-bottom>.button>p {
    cursor: pointer;
}

/* */
.filter-button {
    border: none;
    padding: 5px 25px;
    color: white;
    min-width: 100px;
    background-color: #228582;
}

.sorting {
    width: 100px !important;
    text-align: start;
    color: #0048ab;
}

.sorting_acc {
    width: 100px !important;
    text-align: end;
    color: #0048ab;
}

.sorting_1 {
    width: 10%;
    border-radius: 8px 0 0 8px;
    margin: 5px 10px;
    border: 3px solid rgba(137, 43, 226, 0);
}

.dataTables_paginate.paging_simple_numbers {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* feed back */

#feedback p {
    color: #004aab;
    text-align: center;
}

.feedback-textarea::placeholder,
.feedback-form>input::placeholder {
    color: #a2dad7;
    font-size: 16px;
}

.feedback-textarea {
    width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    padding: 20px;
    border-radius: 8px;
    color: rgb(53, 53, 53);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #004aab;
}

.feedback-form {
    display: flex;
    justify-content: space-between;
    margin: 10px -10px;
}

.feedback-form>input {
    border-radius: 8px;
    flex: 1;
    margin: 0 10px;
    border: 1px solid #004aab;
    padding: 5px 15px;
    font-size: 16px;
    color: rgb(53, 53, 53);
}

/* top-table */
#top-table {
    padding: 20px;
    border-radius: 8px;
    background-color: #ebf5f5;
}

/* feed back */

.top-title{
    padding: 20px 50px ;
    border: 2px solid white;
    border-radius: 8px;
    width: max-content;
    margin: 30px auto;
    position: relative;
}
.top-title>h1{
    font-size: 56px;
    color: white;
}
.top-title>p{
    background-color: var(--color-text);
    color: white;
    font-size: 32px;
    position: absolute;
    top: -20px;
    padding: 3px 10px;
    left: 50%;
    transform: translate(-50%);
}
/* slick table */

.sorting_disabled:nth-child(1) {
    width: 64px !important;
    color: #0048ab;
    font-size: 16px;
    text-align: left;
}

.sorting_disabled:nth-child(2) {
    width: 250px !important;
    color: #0048ab;
    font-size: 16px;
    padding: 10px 0;
    text-align: left;
}

.sorting_disabled:nth-child(3) {
    width: 250px !important;
    color: #0048ab;
    font-size: 16px;
    padding: 10px 0;
    text-align: right;
}

/*

td {
    background-color: #e9f5f5;
    padding: 2px !important;
}

td:nth-child(2),
td:nth-child(3) {
    padding: 2px 0 !important;
}

.td1 {
    width: 95%;
    background-color: #0048ab;
    padding: 8px 5px;
    border-radius: 8px 0 0 8px;
}



.td2 {
    width: 100%;
    background-color: #0048ab;
    padding: 8px 5px;
}



.td3 {
    width: 100%;
    background-color: #0048ab;
    padding: 8px 5px;
    border-radius: 0 8px 8px 0;
}
/*/
.td2>p {
    font-size: 16px;
    color: var(--color-text);
    text-align: start;
    padding-left: 10px;
}

.td3>p {
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
    color: var(--color-text);
}

.td1>p {
    font-size: 16px;
    color: var(--color-text);
    text-align: left;
    margin-left: 10px;
}


table.dataTable.no-footer {
    border: unset !important;
}

.paginate_button.previous {
    font-size: 0;
}

.paginate_button.next {
    font-size: 0;
}

.paginate_button.current {
    border: unset !important;
    color: white !important;
    width: 30px !important;
    height: 30px !important;
    background: #228582 !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 25px !important;
    padding-top: 3px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: unset !important;
    color: white !important;
    width: 30px !important;
    height: 30px !important;
    background: #228582 !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 25px !important;
    padding-top: 3px !important;
}

.paginate_button {
    border: unset !important;
    color: #228582 !important;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 25px !important;
    padding-top: 3px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: unset !important;
    color: #228582 !important;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 0 !important;
    border-radius: 25px !important;
    padding-top: 3px !important;
    background-color: unset;
    background: unset;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:active {

    box-shadow: unset !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: unset;
    box-shadow: unset !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
}

.paginate_button.previous {
    background-image: url(../images/prevv.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-right: 20px !important;
}

#top-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
    background-image: url(../images/prevv.png) !important;
    margin-left: 0 !important;
    margin-right: 20px !important;
    cursor: pointer;
}

.paginate_button.next {
    background-image: url(../images/nextt.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left: 20px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    background-image: url(../images/nextt.png) !important;
    margin-left: 20px !important;
}

#example_filter>label>input {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #228582;
    border-radius: 8px;
    color: #0048ab;
    background-color: #eaf5f5;
    font-weight: 300;
}

/* */
.feedback-wrap {
    overflow: hidden;
}

.acc {
    position: relative;
}

.acc>textarea {
    min-height: 100px;
    max-height: 100px;
}

.acc-input {
    width: 90%;
    font-size: 16px;
    color: #0048ab;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid #0048ab;
    outline: none;
    transition: 0.4s ease-in-out;
    margin: 10px;
}

.acc-input:focus {
    border: 1px solid #228582;
}

.acc-label {
    position: absolute;
    font-size: 16px;
    transform: translateY(-50%);
    left: 21px;
    top: 32px;
    pointer-events: none;
    user-select: none;
    color: #0048ab;
    transition: 0.5s ease-in-out;
    display: inline-block;
}

.acc-input:not(:placeholder-shown)+.acc-label,
.acc-input:focus+.acc-label {
    top: 10px;
    padding: 0px 10px;
    background-color: white;
    color: #228582;
    margin: 0;
}

.feedback-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-img>img {
    width: 80%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    position: relative;
    z-index: 9;
    animation: feedback 12s ease-in-out;
}

.feedback-before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #e3eef0;
    z-index: 8;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

#feedback .button {
    width: 90%;
    display: flex;
    justify-content: center;
}

#feedback .button>button {
    padding: 8px 40px;
    background-color: #0048ab;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    border: unset;
    margin: 5px 0;
}

#feedback .button>button:hover {
    background-color: #228582;
    color: white;
}

@keyframes feedback {
    0% {
        transform: translate3d(-1%, 0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate3d(1.5%, 1.5%, 0px) rotate(1deg);
    }

    40% {
        transform: translate3d(0.5%, 0.5%, 0px) rotate(-1deg);
    }

    60% {
        transform: translate3d(-1%, 1%, 0px) rotate(2deg);
    }

    80% {
        transform: translate3d(0px, -1%, 0px) rotate(0deg);
    }

    100% {
        transform: translate3d(1%, 0.5%, 0px) rotate(-2deg);
    }
}

@media (max-width: 992px) {
    .feedback-img {
        display: none;
    }

    .testimonial_content_active {
        padding: 0 !important;
    }

    .lni-arrow-left::before {
        bottom: 72px;
        left: 191px;
    }

    .lni-arrow-right::before {
        bottom: 72px;
        left: 228px;
    }
}

@media (max-width: 992px) {

    .lni-arrow-left::before {
        bottom: 0;
        left: 375px;
    }

    .lni-arrow-right::before {
        bottom: 0;
        left: 413px;
    }

    .testimonial_content {
        margin: 0;
    }

    .acc-input {
        margin: 10px 0;
        width: 100%;
    }

    #feedback .button {
        width: 100%;
    }

    .testimonial_content .testimonial_title {
        text-align: center;
    }

    .testimonial_content>p {
        text-align: center !important;
    }
}

@media (max-width: 560px) {

    .lni-arrow-left::before {
        bottom: 0;
        left: 300px;
    }

    .lni-arrow-right::before {
        bottom: 0;
        left: 325px;
    }

    #example p {
        font-size: 12px;
    }

    #example th {
        font-size: 14px;
    }
}

@media (max-width: 460px) {

    .lni-arrow-left::before {
        bottom: 0;
        left: 200px;
    }

    .lni-arrow-right::before {
        bottom: 0;
        left: 225px;
    }

    #example p {
        font-size: 10px;
    }
}

#tempo .slick-slider .slick-list {
    height: 100%;
}

.sucs {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 320px;
    height: 100px;
    background-color: white;
    z-index: 9999999;
    transition: all 0.4s linear;
    border-left: 6px solid #22fe0e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}


.sucs .toast-content {
    display: flex;
    align-items: center;
}

.sucs .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.sucs .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.sucs .message .text {
    font-size: 16px;
    font-weight: 400;
    ;
    color: #666666;
}

.sucs .message .text.text-1 {
    font-weight: 600;
    color: #333;
    font-size: 20px;
}

.sucs .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.sucs .close:hover {
    opacity: 1;
}

.sucs .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.sucs .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.feedback-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999999999999;
}

.error {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 320px;
    height: 100px;
    background-color: white;
    z-index: 9999999;
    transition: all 0.4s linear;
    border-left: 6px solid #fc3333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}


.error .toast-content {
    display: flex;
    align-items: center;
}

.error .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.error .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.error .message .text {
    font-size: 16px;
    font-weight: 400;
    ;
    color: #666666;
}

.error .message .text.text-1 {
    font-weight: 600;
    color: #333;
    font-size: 20px;
}

.error .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.error .close:hover {
    opacity: 1;
}

.error .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.error .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.feedback-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999999999999;
}

/* ------------------ */
/* C661412b1 Vamnaone */
/* ------------------ */
.c661412b1 {
    font-size: 14px;
}

.c661412b1-title {
    margin-bottom: 50px;
}

.c661412b1-title>h1 {
    font-size: 2.8em;
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-weight: 600;
    color: var(--color-text);
}

.c661412b1-title>p {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    font-weight: 300;
}

/* left */
.c661412b1-left {
    position: relative;
}

.c661412b1-left>.c661412b1-posi-ab {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    top: 0;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    overflow: hidden;
    border: 3px solid var(--color-text);
    z-index: 0;
    border-radius: 8px 0 0 8px;
}

.c661412b1-left .c661412b1-posi-ab_bg {
    width: 100%;
    height: 100%;
    background-color: #004aab80;
    position: relative;
    z-index: 1;
}

.c661412b1-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
    position: relative;
    top: -100%;
    z-index: 0;
}

.c661412b1-contents {
    margin: 50px 0;
    left: 25%;
    position: relative;
    z-index: 1;
    width: 90%;
}

.c661412b1-items-wrap {
    display: flex;
    justify-content: space-between;
}

.c661412b1-items-wrap>.c661412b1-items {
    flex: 1;
}

.c661412b1-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 50px #0000001a;
    margin: 10px;
}

.c661412b1-items>h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 10px;
}

.c661412b1-items>p {
    font-size: 1.3em;
    text-align: center;
    margin: 0;
}

/* right */
.c661412b1-right {
    position: relative;
}

.c661412b1-right>.c661412b1-posi-ab {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120%;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
    overflow: hidden;
    border: 3px solid var(--color-text);
    z-index: 0;
    border-radius: 0 8px 8px 0;
}



.c661412b1-right .c661412b1-posi-ab_bg {
    width: 100%;
    height: 100%;
    background-color: #004aab80;
    position: relative;
    z-index: 1;
    top: -100%;
}



.c661412b1-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    position: relative;
    z-index: 0;
}




.c661412b1-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.c661412b1-video>i {
    font-size: 5em;
    color: rgb(236, 236, 236);
    position: relative;
    transition: transform 0.3s linear;
}

.c661412b1-video>i:hover {
    transform: scale(1.04);
    cursor: pointer;
    color: white;
}

/* event */

.c661412b1-iframe_click {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.c661412b1-background_click {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:9999;
}

.c661412b1-iframe_click {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: max-content;
    z-index: 9999;
    border-radius: 16px;
    overflow: hidden;
}

.c661412b1-iframe_click>iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

/* reponsive */
@media (max-width: 75em) {
    .c661412b1-contents {
        left: 15%;
        width: 100%;
        margin: 30px 0;
    }

    .c661412b1 {
        font-size: 12px;
    }
}

@media (max-width: 62em) {
    .c661412b1-contents {
        left: 0;
        width: 100%;
    }

    .c661412b1-left>.c661412b1-posi-ab {
        clip-path: polygon(0 0, 0 50%, 50% 0);
    }

    .c661412b1-right {
        height: 300px;
    }

    .c661412b1-right>.c661412b1-posi-ab {
        width: 100%;
        clip-path: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 40%)
    }

    .c661412b1-iframe_click {
        width: 70%;
    }
}

@media (max-width: 36em) {
    .c661412b1 {
        font-size: 10px;
    }

    .c661412b1-left>.c661412b1-posi-ab {
        display: none;
    }

    .c661412b1-right>.c661412b1-posi-ab {
        width: 90%;
        transform: translate(-50%, 0);
        left: 50%;
        border: none;
        clip-path: unset;
        border-radius: 16px;
        box-shadow: 0 10px 50px #0000001a;
    }

    .c661412b1-iframe_click {
        width: 90%;
    }

    .c661412b1-title {
        margin-bottom: 10px;
    }

    .c661412b1-title>p {
        text-align: justify;
    }
}

@media (max-width: 25em) {
    .c661412b1-items-wrap {
        flex-direction: column;
    }

}


/* CUSTOMIZE DATATABLE */
#example {
  width: 100% !important;
}

#example thead th {
  background-color: transparent;
  border-bottom: none;
}

#example thead th:last-child {
  text-align: right;
}

#example tbody 

#example th,
#example td {
  border: none;
  text-align: left;
  background-color: white;
  border-bottom: 5px solid #ebf5f5;
}

#example td:first-child {
  border-right: 0.25rem solid #ebf5f5;
}


@media (max-width: 600px) {
  #example thead {
    display: none;
  }

  #example tr {
    border-bottom: 0.25rem solid #f2f2f2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    overflow: hidden;
  }

  #example th,
  #example td {
    grid-column-start: 2;
    grid-column-end: 7;
    border: none;
    padding: 0.25rem;
    text-align: left;
  }

  #example td:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #example p {
    padding: 0;
    text-align: left;
  }
}
